doctype html
html
   head
      meta(charset='utf-8')
   body
      h2
         a(href='/topic') Hello NodeJs Practice!
      ul
         each topic in topics
            li
               a(href='/topic/'+topic)= topic
      article
         h2= title
            p= description
      div
         a(href='/topic/new') new
